<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="-1">
  <link rel="stylesheet" href="css/element.plus.min.css">
  <link rel="stylesheet" href="css/nprogress.css">
  <link rel="stylesheet" href="css/variables.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app" class="cw-layout-app">
    <el-config-provider :locale="locale">
      <el-container class="cw-layout-app_container">
        <el-aside class="cw-layout-app_container_aside" :class="collapse ? 'collapse' : ''" v-show="showLayout">
          <el-scrollbar>
            <layout-menu></layout-menu>
          </el-scrollbar>
        </el-aside>
        <el-container>
          <el-header class="cw-layout-app_container_header" v-if="showLayout">
            <layout-header></layout-header>
          </el-header>
          <layout-nav v-if="showLayout"></layout-nav>
          <el-main class="cw-layout-app_container_main">
            <router-view v-slot="{ Component }">
              <keep-alive>
                <component :is="Component" :key="routerKey"></component>
              </keep-alive>
            </router-view>
          </el-main>
        </el-container>
      </el-container>
    </el-config-provider>
  </div>
  <!-- 进度条 按需使用 -->
  <script src="core/nprogress.js"></script>
  <!-- <script src="core/jquery.min.js"></script> -->
  <!-- Axios库文件-->
  <script src="core/axios.min.js"></script>
  <!-- Vue3 -->
  <script src="core/vue3.min.js"></script>
  <!-- Vue路由 -->
  <script src="core/vue-router4.min.js"></script>
  <!-- Vue国际化 按需使用-->
  <script src="core/vue-i18n.global.prod.js"></script>
  <!-- element库文件 -->
  <script src="core/element.plus.min.js"></script>
  <!-- element图标 -->
  <script src="core/element.plus.icons.js"></script>
  <!-- element国际化资源 按需使用 -->
  <script src="core/element.plus.local.zh-cn.js"></script>
  <!-- element国际化资源 按需使用 -->
  <script src="core/element.plus.local.zh-tw.js"></script>
  <!-- element国际化资源 按需使用 -->
  <script src="core/element.plus.local.en.js"></script>
  <!-- 使用Pinia需要的依赖文件 -->
  <script src="core/vue-demi.min.js"></script>
  <!-- 数据存储 按需使用 -->
  <script src="core/pinia.min.js"></script>
  <!-- crypt-to库文件-->
  <script src="core/crypt.js"></script>
  <!-- 事件总栈 按需使用 -->
  <script src="core/mitt.umd.js"></script>
  <!-- 引入全局方法和配置 -->
  <script type="module" src="js/global.js"></script>
  <!-- 常量文件 -->
  <script type="module" src="js/const.js"></script>
  <!-- 用于加载html模板文件 -->
  <script type="module" src="js/template.js"></script>
  <!-- 用于加载自定义组件 -->
  <script type="module" src="js/component.js"></script>
  <!-- 入口文件 -->
  <script type="module" src="js/main.js" setup></script>
</body>

</html>