:root {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --cw-bg-main: rgb(234, 234, 234);
  --cw-aside-bg: #fffff;
  --cw-color-white: #fff;
  color: var(--el-text-color-regular);

}

* {
  outline: none !important;
}

/**第三方库样式重写*/
.el-header {
  --el-header-padding: 10px;
  --el-header-height: 50px;
}

.el-main {
  --el-main-padding: 10px;
}

.el-menu {
  --el-menu-hover-bg-color: var(--el-color-primary-light-9) !important;
  border-right: none;
}

.el-menu-item:hover {
  color: var(--el-color-primary) !important;
}

.el-menu-item.is-active {
  color: var(--el-color-primary) !important;
  background-color: var(--el-color-primary-light-9) !important;
}

.el-menu-item.is-active {
  border-right: 5px solid var(--el-menu-active-color);
}

#nprogress .bar {
  background: var(--el-color-primary);
}